---
import "./recipe-detail.scss";

// GET THR RECIPE
const { recipe } = Astro.props;
---

<script src="./recipe-detail.js"></script>

<div class="recipe-detail">
    <img class="recipe-detail__image" src={recipe.data.cover} alt="Placeholder" />
    <h1 class="recipe-detail__title">{recipe.data.title}</h1>
    <div class="recipe-detail__tags tags">
        {recipe.data.tags.map((tag) => <p class="tags__item">{tag}</p>)}
    </div>
    <p class="recipe-detail__author">a recipe by {recipe.data.author}</p>
    <div class="recipe-detail__content conternt">
        <div class="content__calories calories">
            <h3 class="calories__title">Calories per serving</h3>
            <p class="calories__value paragraph--extralarge">{recipe.data.calories}</p>
        </div>
        <div class="content__cook-time cook-time">
            <h3 class="cook-time__title">Cook Time</h3>
            <p class="cook-time__value paragraph--extralarge">{recipe.data.cookTime}</p>
        </div>
        <div class="content__ingredients ingredients">
            <h3 class="ingredients__title">Ingredients</h3>
            <div class="ingredients__controller controller">
                <button class="controller__button button--minus paragraph">-</button>
                <p class="controller__label label paragraph">
                    <span class="label__amount">{recipe.data.servings}</span>
                    <span class="label__unit">Servings</span>
                </p>
                <button class="controller__button button--plus paragraph">+</button>
            </div>
            <ul class="ingredients__list list">
                {
                    recipe.data.ingredients.map((item) => (
                        <li class="list__item item">
                            <span class="item__amount">{item.amount}</span>
                            <span class="item__unit">{item.unit}</span>
                            <span class="item__name">{item.name}</span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="content__instructions instructions">
            <h3 class="instructions__title">Instructions</h3>
            <ol class="instructions__list list">
                {recipe.data.instructions.map((item) => <li class="list__item">{item.description}</li>)}
            </ol>
        </div>
    </div>
</div>
